## 함수와 입출력

### 함수

In [53]:
def add(a,b):
    return a + b

In [55]:
a = 3
b = 4 
c = add(a, b)
print(c)

7

## 매개변수와 인수

In [57]:
def add(a,b): # a, b 는 매개변수
    return a + b

print(add(3,4)) # 3,4는 인수

7

## 입력값과 리턴값에 따른 함수의 형태

In [91]:
#일반적인 함수
def add1(a,b):
    result = a+b
    return result

In [95]:
add1 (3,4)

7

In [109]:
# 입력값이 없는 함수
def say1():
    return 'Hi'

In [111]:
say1()

'Hi'

In [113]:
d = say1()

In [115]:
print(d)

Hi

In [97]:
# 리턴값이 없는 함수
def add2(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [99]:
add2(3,4)

3, 4의 합은 7입니다.

In [101]:
c = add2(3,4)

3, 4의 합은 7입니다.

In [103]:
print(c)

None

In [107]:
# 입력값도, 리턴값도 없는 함수
def say2():
    print("Hi")

In [117]:
say2()

Hi

In [119]:
d = say2()

Hi

In [121]:
print(d)

None

## 매개변수를 지정하여 호출하기

In [127]:
def sub(a,b):
    return a-b

In [129]:
result = sub(a =7,b=3)
print(result)

4

In [131]:
result = sub(b=5, a=3)
print(result)

-2

### 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [135]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [139]:
# 사용자의 입력이 몇개든, 전부 다 누적해서 더해주는 함수
def add_many(*args):
    result = 0
    for i in args:
        result = result+i #args에 입력받은 모든 값을 더한다.
    return result

In [141]:
add_many(1,2,3,4,5)

15

In [143]:
add_many(1,2,3,4,5,6,7,8,9,10)

55

## quiz

```
사용자에게 다수의 입력을 받아서
옵션에 따라서 누적곱 또는 누적합을 출력하는 함수를 만들어라
```

In [365]:
def add_mul(option,*args):
    if option == "mul":
        data = 1
        for i in args:
            data *= i
        return data
        
    if option == "sum":
        data = 0
        for i in args:
            data += i
        return data

In [228]:
add_mul("mul",1,2,3,4,6)

144

In [226]:
add_mul("sum",1,2,3,4,5)

15

## 키워드 매개변수, kwargs
딕셔너리로 받아오는 것

In [188]:
def print_kwargs(**kwargs):
   print(kwargs)

In [191]:
print_kwargs(a = 1)

{'a': 1}

In [193]:
print_kwargs(name = 'ji', age =27)

{'name': 'ji', 'age': 27}

## 함수의 리턴값은 언제나 하나이다.

In [196]:
def add_and_mul(a,b):
    return a+b,a*b

In [200]:
add_and_mul(3,4) #튜플로 묶였기에 출력되는 데이터는 한개이다

(7, 12)

In [202]:
result1, result2  = add_and_mul(3,4)
result1

7

In [204]:
result2

12

In [208]:
def add_and_mul(a,b):
    return a+b
    return a*b

In [210]:
result = add_and_mul(2,3)
result

5

## return으로 함수 이탈하기

In [212]:
def say_nick(nick):
    if nick == "바보":
        return "옥상으로 따라와"
    print(f'나의 별명은 {nick}입니다.')

In [214]:
say_nick('야호')

나의 별명은 야호입니다.

In [216]:
say_nick('바보')

'옥상으로 따라와'

## 매개변수에 초깃값 미리 설정하기

In [230]:
def say_myself(name, age, man =True): # 트루값 같은 것은 맨 뒤에 넣어라
    print(f'나의 이름은 {name}입니다.')
    print(f'나의 나이은 {age}입니다.')
    if man :
        print('남자입니다')
    else:
        print('여자입니다')

In [236]:
say_myself('지연수', 27, True)

나의 이름은 지연수입니다.
나의 나이은 27입니다.
남자입니다

## 함수 안에서 선언한 변수의 효력 범위

In [239]:
a = 1 # 글로벌 영역
def vartest(a): #로컬영역
    a = a + 1

In [243]:
a # 영역이 달라서 영향을 받지 않아 바뀌지 않음

1

In [245]:
vartest(a)

In [247]:
print(a)

1

## 함수 안에서 함수 밖의 변수를 변경하는 방법

In [249]:
# 1. return 사용하기
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [252]:
# 2. global 명령어 사용하기
a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2

### lambda 예약어
* 1회성 함수

In [256]:
def add(a,b):
    return a+b
result = add(3,4)
print(result)

7

In [260]:
add = lambda a,b: a+b
add(3,4)

7

## 파일 읽고 쓰기

In [273]:
# newfile.py
f = open("output/test.txt", 'w')
f.close()

In [279]:
f = open("output/test.txt", 'w')
for i in range(1,11):
    f.write(f'{i}번째 줄입니다.\n')
f.close()

In [281]:
# readline 함수 아용하기
f = open("output/test.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [291]:
f = open("output/test.txt", 'r')
for i in range(5):
      line = f.readline()
      print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

In [295]:
# readlines 함수
f = open("output/test.txt", 'r')
lines = f.readlines()
print(lines)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [299]:
f = open("output/test.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

## quiz
메모장을 읽어올 때 줄바꿈 1개를 없애보세요

In [317]:
f = open('output/test.txt', 'r')
lines = f.readlines()
for line in lines : 
    print(line.strip()) #줄 끝의 줄 바꿈 문자를 제거한다.
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [328]:
# read함수 사용하기
f = open('output/test.txt', 'r')
data =f.read()
print(data, type(data))
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
 <class 'str'>

## 파일에 새로운 내용 추가하기

In [351]:
# add_data.py
f = open('output/test.txt','a')

for i in range(11,21):
    data = f"{i}번째 줄입니다.\n" 
    f.write(data)
    print(data.strip())
f.close()

11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.

## with문

In [356]:
f = open('output/foo.txt', 'w')
f.write("Life is too short, you need python")
f.close()

In [362]:
with open('output/foo.txt', 'w') as f:
    f.write("your leg is too short")